@import 'colors';
@import 'mixins';

.title {
	pointer-events: none;
	@include no-user-select();
	z-index: 10;
	position: relative;
	color: $off-white;
	font-size: 2em;
	font-weight: 400;
	width: 100%;
	height: fit-content;
	margin-top: -13px;
	text-align: center;
}

.about-me-container {
	user-select: all;
	margin: auto 30px;
	display: inline-block;
	width: 70%;
	max-width: 700px;
	font-size: 1.1em;
	font-weight: 100;
	line-height: 1.8em;
	color: $off-white;
	text-align: left;
}

.about-me-container h5 {
	pointer-events: all;
	@include no-user-select();
	padding: 40px 50px 0 0;
	margin: 0;
	width: fit-content;
	display: inline-block;
	// float: right;
	color: $off-white;
	font-size: 1.5em;
	font-weight: 300;
	text-align: left;
	line-height: 2em;
	// background: blue;
}

.about-me-container p {
	pointer-events: all;
	@include no-user-select();
	color: $off-white;
	font-weight: 300;
	line-height: 2em;
	// background: red;
}

.about-me-container img {
	float: left;
}

#headshot {
	margin: 20px 30px 0 0;
	pointer-events: none;
	width: 200px;
	border: 1px solid black;
	border-radius: 100%;
}

.centered {
	@include no-user-select();
	pointer-events: none;
	z-index: 1;
	top: 49%;
	width: 100%;
	text-align: center;
	padding-top: 100px;
}

.about a {
	color: $off-white;
}

.about a:hover {
	color: lighten($off-white, 15%);
}

#github-contribution-history {
	border-radius: 10px;
}
