@import 'colors';
@import 'mixins';

.contact-form {
	margin: 50px auto;
	text-align: center;
	width: 85%;
	max-width: 500px;
	display: inline-block;
	padding: 10px;
}

textarea,
input#contact-input {
	margin: 10px auto;
	width: 98%;
	height: 40px;
	max-width: 85%;
	min-width: 85%;
	min-height: 40px;
	pointer-events: all;
	font-weight: 200;
	text-align: center;
	border-radius: 10px;
	font-size: 1.5em;
	background-color: $main-background;
	color: $off-white;
	border: 2px solid $dropdown;
}

input#contact-input[type='submit'] {
	font-weight: 300;
	background-color: $cta-background;
	color: $main-background;
}

input,
textarea:focus {
	border: 2px solid $dropdown;
	outline: 0;
}

input#contact-input[type='submit']:hover {
	background-color: lighten($cta-background, 5%);
}

#thank-you-signature {
	width: 150px;
}

p.salutation {
	width: 95%;
	max-width: 800px;
	margin: 5px auto;
	font-size: 1.5em;
	color: $off-white;
}
