@import 'colors';
@import 'mixins';

.contact-form {
	margin: 50px auto;
	width: 85%;
	max-width: 500px;
	display: inline-block;
}

#contact-input[type='text'],
textarea {
	display: block;
	margin: 10px auto;
	width: 80%;
	pointer-events: all;
	font-weight: 200;
	text-align: center;
	border-radius: 10px;
	height: 40px;
	font-size: 1.5em;
	background-color: $main-background;
	color: $off-white;
	border: 2px solid $dropdown;
}

#contact-input[type='email'],
textarea {
	display: block;
	margin: 10px auto;
	width: 80%;
	max-width: 80%;
	min-width: 80%;
	min-height: 40px;
	max-height: 80%;
	pointer-events: all;
	font-weight: 200;
	text-align: center;
	border-radius: 10px;
	height: 40px;
	font-size: 1.5em;
	background-color: $main-background;
	color: $off-white;
	border: 2px solid $dropdown;
}

#contact-input[type='submit'] {
	pointer-events: all;
	user-select: all;
	display: block;
	margin: 10px auto;
	width: 82%;
	text-align: center;
	border-radius: 10px;
	height: 35px;
	font-size: 1.5em;
	font-weight: 300;
	background-color: $cta-background;
	color: $main-background;
	border: 2px solid $dropdown;
}

#contact-input:focus {
	outline: none;
}
