@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin no-user-select($user-select: none) {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.canvas-blur {
  pointer-events: none;
  filter: blur(25px);
}

.home-centered {
  @include vertical-align();
  width: 100%;
  z-index: 50;
  text-align: center;
  pointer-events: none;
}

.name {
  @include no-user-select();
  margin: 0;
  pointer-events: none;
  position: relative;
  color: #E6E0CC;
  font-size: 5em;
  font-weight: 300;
  height: fit-content;
  text-shadow: 0px 0px 1px $off-white;
}

.tag {
  @include no-user-select();
  margin: 0;
  color: #E6E0CC;
  font-size: 2em;
  font-weight: 400;
  height: fit-content;
  position: relative;
  text-shadow: 0px 0px 1px $off-white;
}

#notice {
  color: #292929;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 100px;
  width: 240px;
  background-color: rgba(253,164,41, 0.9);
  border-radius: 5px;
  padding: 3px 0;
  font-size: 0.9em;
}
