@import 'mixins';
@import 'colors';

.canvas-blur {
	@include no-user-select();
	width: 100%;
	height: 100%;
	transform: translateZ(0); /*for older browsers*/
	will-change: transform;
	-webkit-filter: blur(25px);
	-moz-filter: blur(25px);
	-o-filter: blur(25px);
	-ms-filter: blur(25px);
	filter: url(#blur);
	filter: blur(25px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
	// -webkit-transition: 0.5s -webkit-filter linear;
	// -o-transition: 0.5s -o-filter linear;
}

.home-centered {
	@include center();
	z-index: 50;
	text-align: center;
	padding: 20px;
	width: 90%;
}

#home-screen-footer {
	position: absolute;
	bottom: 0;
}

.name {
	position: relative;
	color: $off-white;
	font-size: 5em;
	font-weight: 500;
	height: fit-content;
	text-shadow: 0px 0px 1px $off-white;
}

.tag {
	color: $off-white;
	font-size: 2em;
	font-weight: 400;
	height: fit-content;
	position: relative;
	text-shadow: 0px 0px 1px $off-white;
}

#notice {
	color: $main-background;
	text-align: center;
	position: absolute;
	left: 20px;
	top: 100px;
	width: 240px;
	background-color: rgba(253, 164, 41, 0.9);
	border-radius: 5px;
	padding: 3px 0;
	font-size: 0.9em;
}
