@mixin no-user-select($user-select: none) {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#no-hover {
  cursor: default;
}

#menu {
  z-index: 60;
  // user-select: none;
  padding-left: 15px;
  padding-top: 7px;
}

#social-media-icon {
  display: inline-block;
  float: left;
  color: $off-white;
  padding: 0px 19px;
  margin-bottom: 5px;
}

#social-media-icon:hover {
  text-shadow: 0px 0px 15px rgba(0,0,0,0.8);
}

.social-media-icon-list {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin: 5px 0;
}

#custom-work {
  text-align: center;
  width: 210px;
  background-color: #1D1D26;
  border-radius: 5px;
}

#signature {
  @include no-user-select();
  width: 170px;
  margin-left: 5px;
}

#menu-icon {
  @include no-user-select();
  position: relative;
  bottom: 16px;
  color: $off-white;
}

#main-nav:hover {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
  cursor: pointer;
}

#main-nav:before {
  content: '';
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  position: absolute;
  top: -50px;
  left: -50px;
  cursor: default;
}

#main-nav {
  position: absolute;
  cursor:pointer;
  display: inline-grid;
  z-index: 60;
  margin: 20px;
  width: 240px;
  background-color: rgba(255,255,255,0.05);
  border-radius: 5px;

  ul  {
    cursor:pointer;
    z-index: 50;
  	list-style: none;
  	position: relative;
  	float: left;
  	margin: 0 10px;
  	padding: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 220px;

    a {
    	display: block;
    	color: $off-white;
    	text-decoration: none;
    	font-weight: 700;
    	font-size: 12px;
    	line-height: 32px;
    	padding: 0 15px;
    }

    li {
      overflow: hidden;
      border-radius: 5px;
    	margin: 0;
    	padding: 0;
      width: 100%;
    }

    li:hover {
    	background-color: rgba(0,0,0,0.3);
    }

    ul {
    	display: none;
      padding: 0px;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        position: relative;
        left: 0;
        right: 0;
      	float: left;
        padding: 0px;
        margin: 0px;
      	width: 50%;

        li {
          display: block;
          padding: 0px;
          margin: 0px;
          width: 100%;
        }
      }
    }
  }
}

#main-nav ul li:hover > ul {
	display: block;
}

#main-nav:hover > ul {
  display: inline-grid;
}
