#no-hover {
  user-select: none;
}

#custom-work {
  text-align: center;
  background-color: rgba(0,0,50,0.2);
  border-radius: 5px;
}

#signature {
  user-select: none;
  width: 170px;
  margin-left: 5px;
}

#menu-icon {
  user-select: none;
  position: relative;
  bottom: 16px;
  color: $off-white;
}

#main-nav {
  position: absolute;
  display: inline-grid;
  z-index: 20;
  margin: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  width: fit-content;
  background-color: rgba(255,255,255,0.05);
  border-radius: 5px;

  ul  {
    display: none;
  	list-style: none;
  	position: relative;
  	float: left;
  	margin: 0;
  	padding: 0;
    padding-top: 5px;
    padding-bottom: 15px;

    a {
    	display: block;
    	color: $off-white;
    	text-decoration: none;
    	font-weight: 700;
    	font-size: 12px;
    	line-height: 32px;
    	padding: 0 15px;
    }

    li {
      border-radius: 5px;
    	position: relative;
    	margin: 0;
    	padding: 0;
    }

    li:hover {
    	background-color: rgba(0,0,0,0.4);
    }

    ul {
    	display: none;
    	padding: 0;

      li {
      	float: left;
      	width: 100px;
      }

    }

  }
}

#main-nav ul li:hover > ul {
	display: block;
}

#main-nav:hover > ul{
  display: inline-grid;
}

#main-nav:hover > .social-media-icon-list {
  display: inline-block;
}

#main-nav:hover {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

#social-media-icon {
  color: $off-white;
  padding: 0px 15px;
}

#social-media-icon:hover {
  text-shadow: 0px 0px 15px rgba(0,0,0,0.8);
}

.social-media-icon-list {
  padding: 5px;
  display: none;
  width: 100%;
  text-align: center;
}
