@import 'mixins';
@import 'colors';

.vimeo-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vimeo-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

#work {
	pointer-events: none;
	@include no-user-select();
	z-index: 10;
	color: $off-white;
	font-size: 2em;
	font-weight: 500;
	display: inline-block;
}

#category {
	pointer-events: none;
	@include no-user-select();
	z-index: 10;
	color: grey;
	font-size: 2em;
	font-weight: 500;
	display: inline-block;
}

#work-example {
	@include no-user-select();
	height: 0px;
	margin: 30px auto;
	text-align: center;
	width: 140px;
	border-style: solid;
	border-color: grey;
}

.work-wrapper {
	@include no-user-select();
	margin: 30px auto;
	z-index: 20;
	overflow: scroll;
}

.work-link {
	display: block;
	margin: 30px auto;
	pointer-events: all;
	position: relative;
	width: 95%;
	max-width: 800px;
	max-height: 400px;
	overflow: hidden;
}

.work-static {
	display: inline-block;
	margin: 10px auto;
	pointer-events: all;
	position: relative;
	width: 95%;
	max-width: 800px;
}

.work-text {
	@include center();
	z-index: 20;
	width: 100%;
	font-size: 2.8em;
	color: $off-white;
	display: block;
}

.work-text h4 {
	margin: auto;
	position: relative;
	top: 50%;
	padding: 0;
	margin-top: 5%;
	margin-bottom: 0;
}

.work-text h5 {
	text-align: center;
	user-select: all;
	position: relative;
	bottom: 10px;
	margin: 5% auto;
	font-size: initial;
	max-width: 500px;
}

.show-page-tool-list {
	text-align: left;
	width: 100%;
	max-width: 800px;
	margin: 20px auto 30px auto;
}

.work-tools-show-page {
	margin: 0 auto;
	margin-bottom: 20px;
}

#frameworks {
	font-weight: 600;
	display: inline-block;
	color: $main-background;
	background: $frameworks-background;
	padding: 6px;
	margin: 5px;
	border-radius: 5px;
}

#languages {
	@extend #frameworks;
	background: $languages-background;
}

#libraries {
	@extend #frameworks;
	background: $library-background;
}

#hardware {
	@extend #frameworks;
	background: $hardware-background;
}

#design {
	@extend #frameworks;
	background: $design-background;
}

#audio {
	@extend #frameworks;
	background: $design-background;
}

div.skills * {
	@extend #frameworks;
	background: $frameworks-background;
}

.skills-container h4 {
	color: $off-white;
	font-weight: 200;
	font-size: 20px;
}

.skills-container {
	display: inline-table;
	width: 85%;
	margin: 5vh auto;
}

.skills {
	display: inline-table;
	min-width: 240px;
	padding: 10px;
	border-radius: 10px;
	margin: 0;
	width: 20%;
}

h5.skills {
	margin: 0;
	padding: 0;
	height: 30px;
	display: block;
	font-size: 1.4em;
	color: $off-white;
	width: 100%;
	background: none;
}

p.description {
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	font-size: 1.5em;
	color: $off-white;
}

a.description {
	font-weight: 600;
	margin: 20px auto;
	text-align: center;
	width: fit-content;
	display: block;
	padding: 10px 15px;
	background-color: $cta-background;
	border-radius: 10px;
	text-decoration: none;
	color: $main-background;
	pointer-events: all;
}

a.description:hover {
	color: $main-background;
	background-color: lighten($cta-background, 10%);
}

.work-info {
	display: inline-block;
	width: 110px;
	margin: 0 10px;
	max-width: 800px;
	font-size: 1.2em;
	font-weight: 100;
	color: $off-white;
}

.tools-icons {
	margin: 0 16px;
	display: inline-table;
	width: calc(100% - 210px);
}

.work-description {
	letter-spacing: 2px;
	display: inline-table;
	max-width: 625px;
	margin: 13px 20px 0 20px;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.8em;
	color: $off-white;
}

a.work-info {
	pointer-events: all;
	display: inline-block;
	width: 110px;
	margin: 0 10px;
	max-width: 800px;
	font-size: 1.2em;
	font-weight: 100;
	color: $off-white;
}

img.work-info {
	pointer-events: all;
	display: inline-table;
	width: 100px;
	margin: 0;
	padding-right: 10px;
}

.image-darken {
	filter: blur(10px) brightness(30%);
}

.chart-container {
	display: inline-block;
	position: relative;
	margin: 0;
	height: 20vh;
	width: 100vw;
	max-width: 500px;
}
