@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700');
.contact-description {
	user-select: all;
	letter-spacing: 2px;
	margin: 0 30px;
	display: inline-table;
	max-width: 400px;
	font-size: 1.1em;
	font-weight: 100;
	line-height: 1.8em;
	color: #e6e0cc;
}
#contact-info {
	user-select: all;
	pointer-events: all;
	font-weight: 400;
}
.contact-form {
	margin: 10px auto;
	text-align: center;
	width: 85%;
	max-width: 500px;
	display: inline-table;
	padding: 10px;
}
textarea,
input#contact-input {
	margin: 10px auto;
	width: 98%;
	height: 40px;
	max-width: 85%;
	min-width: 85%;
	min-height: 40px;
	pointer-events: all;
	font-weight: 200;
	text-align: center;
	border-radius: 10px;
	font-size: 1.5em;
	background-color: #292929;
	color: #e6e0cc;
	border: 2px solid #343434;
}
input#contact-input[type='submit'] {
	font-weight: 600;
	background-color: #cbf1f3;
	color: #292929;
}
input,
textarea:focus {
	border: 2px solid #343434;
	outline: 0;
}
input#contact-input[type='submit']:hover {
	background-color: #e0f7f8;
}
#thank-you-signature {
	width: 150px;
}
p.salutation {
	width: 95%;
	max-width: 800px;
	margin: 5px auto;
	font-size: 1.5em;
	color: #e6e0cc;
}
.canvas-blur {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	width: 100%;
	height: 100%;
	transform: translateZ(0);
	will-change: transform;
	-webkit-filter: blur(25px);
	-moz-filter: blur(25px);
	-o-filter: blur(25px);
	-ms-filter: blur(25px);
	filter: url(#blur);
	filter: blur(25px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}
.home-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	z-index: 50;
	text-align: center;
	padding: 20px;
	width: 90%;
}
#home-screen-footer {
	position: absolute;
	bottom: 0;
}
.name {
	position: relative;
	color: #e6e0cc;
	font-size: 5em;
	font-weight: 500;
	height: fit-content;
	text-shadow: 0px 0px 1px #e6e0cc;
}
.tag {
	color: #e6e0cc;
	font-size: 2em;
	font-weight: 400;
	height: fit-content;
	position: relative;
	text-shadow: 0px 0px 1px #e6e0cc;
}
.headshot {
	margin: 20px auto;
	width: 15%;
	height: 15%;
	border: 3px solid black;
	border-radius: 50%;
	overflow: hidden;
}
img {
	width: 100%;
}
#social-media-icon {
	color: #e6e0cc;
	display: inline-block;
	opacity: 0.5;
	padding: 0px 8px;
}
#social-media-icon:hover {
	opacity: 1;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}
#no-hover {
	cursor: default;
}
#menu {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: all;
	z-index: 60;
	padding-left: 15px;
	padding-top: 7px;
}
.custom-work {
	text-align: center;
	width: 210px;
	background-color: #cbf1f3;
	border-radius: 5px;
	cursor: pointer;
}
.custom-work > a {
	background-color: none;
}
.custom-work:hover {
	background-color: #e0f7f8;
}
a p {
	color: #343434;
}
#signature {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: all;
	width: 170px;
	margin-left: 5px;
}
#signature:hover {
	-webkit-filter: drop-shadow(-3px 3px 2px #000);
	filter: drop-shadow(-3px 3px 2px #000);
}
#menu-icon {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	position: relative;
	bottom: 16px;
	color: #e6e0cc;
}
#main-nav:hover {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
	cursor: pointer;
}
#main-nav:before {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	content: '';
	width: calc(100% + 100px);
	height: calc(100% + 100px);
	position: absolute;
	top: -50px;
	left: -50px;
	cursor: default;
}
#main-nav {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	position: fixed;
	cursor: pointer;
	display: inline-grid;
	z-index: 60;
	margin: 20px;
	width: 240px;
	padding: 0px 15px;
	background-color: #343434;
	border-radius: 5px;
}
#main-nav ul {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	z-index: 50;
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}
#main-nav ul a {
	display: block;
	color: #e6e0cc;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
	line-height: 32px;
	padding: 0 15px;
	margin: 0;
}
#main-nav ul li {
	background-color: none;
	-webkit-transition: background-color 200ms ease-out 0s;
	-moz-transition: background-color 200ms ease-out 0s;
	-o-transition: background-color 200ms ease-out 0s;
	transition: background-color 200ms ease-out 0s;
	overflow: hidden;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	width: 100%;
}
#main-nav ul li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
#main-nav ul ul {
	display: none;
	padding: 0;
	margin: 0;
	width: 100%;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.15);
}
#main-nav ul ul li {
	position: relative;
	left: 0;
	right: 0;
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
}
#main-nav ul ul li a {
	padding-left: 30px;
}
#main-nav ul ul li li {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}
#main-nav ul li:hover > ul {
	display: inline-grid;
}
.title {
	pointer-events: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 10;
	position: relative;
	color: #e6e0cc;
	font-size: 2em;
	font-weight: 400;
	width: 100%;
	height: fit-content;
	margin-top: -13px;
	text-align: center;
}
.about {
	pointer-events: all;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin: 10px auto;
	width: 90%;
	z-index: 10;
	position: relative;
	color: #e6e0cc;
	font-size: 1.5em;
	font-weight: 300;
	height: fit-content;
	text-align: center;
	line-height: 2em;
}
#headshot {
	pointer-events: none;
	margin: 5% auto 5% auto;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	border-radius: 100%;
	overflow: hidden;
}
.centered {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
	z-index: 1;
	top: 49%;
	width: 100%;
	text-align: center;
	padding-top: 150px;
}
.about a {
	color: #e6e0cc;
}
.about a:hover {
	color: #fff;
}
.vimeo-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.vimeo-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
#work {
	pointer-events: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 10;
	color: #e6e0cc;
	font-size: 2em;
	font-weight: 500;
	display: inline-block;
}
#category {
	pointer-events: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 10;
	color: grey;
	font-size: 2em;
	font-weight: 500;
	display: inline-block;
}
#work-example {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	height: 0px;
	margin: 30px auto;
	text-align: center;
	width: 140px;
	border-style: solid;
	border-color: grey;
}
.work-wrapper {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin: 30px auto;
	z-index: 20;
	overflow: scroll;
}
.work-link {
	display: block;
	margin: 30px auto;
	pointer-events: all;
	position: relative;
	width: 95%;
	max-width: 800px;
	max-height: 400px;
	overflow: hidden;
}
.work-static {
	display: inline-block;
	margin: 10px auto;
	pointer-events: all;
	position: relative;
	width: 95%;
	max-width: 800px;
}
.work-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	z-index: 20;
	width: 100%;
	font-size: 2.8em;
	color: #e6e0cc;
	display: block;
}
.work-text h4 {
	margin: auto;
	position: relative;
	top: 50%;
	padding: 0;
	margin-top: 5%;
	margin-bottom: 0;
}
.work-text h5 {
	text-align: center;
	user-select: all;
	position: relative;
	bottom: 10px;
	margin: 5% auto;
	font-size: initial;
	max-width: 500px;
}
.show-page-tool-list {
	text-align: left;
	width: 100%;
	max-width: 800px;
	margin: 20px auto 30px auto;
}
.work-tools-show-page {
	margin: 0 auto;
	margin-bottom: 20px;
}
#tool,
#library,
#hardware {
	font-weight: 600;
	display: inline-block;
	color: #292929;
	background: #6aa8ac;
	padding: 6px;
	margin: 5px;
	border-radius: 5px;
}
#library {
	background: #ef7d82;
}
#hardware {
	background: #737494;
}
p.description {
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	font-size: 1.5em;
	color: #e6e0cc;
}
a.description {
	font-weight: 600;
	margin: 20px auto;
	text-align: center;
	width: fit-content;
	display: block;
	padding: 10px 15px;
	background-color: #cbf1f3;
	border-radius: 10px;
	text-decoration: none;
	color: #292929;
	pointer-events: all;
}
a.description:hover {
	color: #292929;
	background-color: #f4fcfd;
}
.work-info {
	display: inline-block;
	width: 110px;
	margin: 0 10px;
	max-width: 800px;
	font-size: 1.2em;
	font-weight: 100;
	color: #e6e0cc;
}
.tools-icons {
	margin: 0 16px;
	display: inline-table;
	width: calc(100% - 210px);
}
.work-description {
	letter-spacing: 2px;
	display: inline-table;
	max-width: 625px;
	margin: 13px 20px 0 20px;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.8em;
	color: #e6e0cc;
}
a.work-info {
	pointer-events: all;
	display: inline-block;
	width: 110px;
	margin: 0 10px;
	max-width: 800px;
	font-size: 1.2em;
	font-weight: 100;
	color: #e6e0cc;
}
img.work-info {
	pointer-events: all;
	display: inline-table;
	width: 100px;
	margin: 0;
	padding-right: 10px;
}
.image-darken {
	filter: blur(10px) brightness(30%);
}
video::-internal-media-controls-download-button {
	display: none;
}
video::-webkit-media-controls-enclosure {
	overflow: hidden;
}
video::-webkit-media-controls-panel {
	width: calc(100% + 30px);
}
.flash {
	background-color: #cbf1f3;
	border-radius: 10px;
	padding: 10px 15px;
	position: relative;
	top: 20%;
	width: 80%;
	margin: 20px 0;
	max-width: 600px;
}
@media (max-width: 750px) {
	footer {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		z-index: 70;
		width: 100%;
		position: relative;
		bottom: 0px;
		height: 60px;
		text-align: center;
		padding: 50px 0 10px 0;
	}
}
@media (min-width: 751px) {
	footer {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		z-index: 70;
		position: absolute;
		margin: 30px;
		top: 0;
		right: 0;
		width: fit-content;
		height: fit-content;
		float: right;
	}
}
#home-page {
	position: absolute;
	bottom: 0;
}
body,
html {
	font-family: 'Montserrat', Fallback, sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #292929;
}
canvas {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
	filter: blur(0px);
}
.main {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
}
a {
	-webkit-tap-highlight-color: transparent;
	color: #e6e0cc;
	pointer-events: all;
	text-decoration: none;
}
a:hover {
	color: #cbf1f3;
}
/*# sourceMappingURL=app.css.map */
