<!DOCTYPE html>
<div class='centered'>
  <div id='work'>About Me</div>
  <hr id='work-example'/>
  <!-- <div class='about-table'> -->
    <div class='about-me-container'>
      <img id='headshot' src='/images/headshot.jpg'></img>
      <h5><strong>Drew André</strong> is a web developer and lighting designer currently working for <a href='https://www.adkgroup.com/' target='blank'>ADK Group</a> in Boston, Masachusetts.</h5>
      <a class='description' target="_blank" href='https://docs.google.com/document/d/1NLSrhP848Gvqv-1qqyOn8TeZV_GzaDPXiQ9nD7q8bDA/edit?usp=sharing'>
        Resume
        <i class="fa fa-external-link" id="open-link-icon" aria-hidden="true"></i>
      </a>
      <p>Drew graduated from <a href='https://www.conncoll.edu/'>Connecticut College</a> in 2016 where he studied a combination of computer science, music, and art. In 2016, Drew was awarded a certificate in Arts and Technology by Connecticut College's <a href='https://www.conncoll.edu/academics/majors-departments-programs/majors-and-minors/ammerman-center-for-arts-and-technology/'>Ammerman Center for Arts and Technology</a>.</p>
      <p>Recently, Drew graduated from a full-stack web development bootcamp, <a href='https://launchacademy.com/'>Launch Academy</a>.</p>
      <p><a href='/contact'>Feel free to get in touch!</a></p>
      <!-- <div class="chart-container"> -->
        <!-- <canvas id="github-contribution-history"></canvas> -->
        <!-- <canvas id="language-data"></canvas> -->
      <!-- </div> -->
    </div>

  <!-- </div> -->
  <div class='skills-container'>
    <h4>What I know</h4>
    <% @skills_section.each do |section| %>
    <div class='skills-block'>
      <% section.each do |skill| %>
        <%= skill %>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- <div class='skills-container'>
    <h4>What I'm working on</h4>
    <% @learning_section.each do |section| %>
      <div class='skills-block'>
        <% section.each do |pending_skill| %>
          <%= pending_skill %>
        <% end %>
      </div>
    <% end %>
  </div> -->
</div>
<!-- <script src="/javascripts/Chart.bundle.min.js"></script> -->
<!-- <script src="/javascripts/about_contributions.js"></script> -->
<!-- <script src="/javascripts/about_languages.js" GITHUB_OAUTH=<%= @GITHUB_OAUTH %>></script> -->
