<!DOCTYPE html>
<div class='centered'>
  <h2 class='title'>About Me</h2>
  <img id='headshot' src='/images/headshot.jpg'></img>
  <h5 class='about'>Hi, I'm Drew. I'm a full stack web developer with interests in hardware and a side hustles involving music and led lighting.</h5>
</div>
