<!DOCTYPE html>
<div class='centered'>
  <div id='work'>About Me</div>
  <hr id='work-example'/>
  <img id='headshot' src='/images/headshot.jpg'></img>
  <h5 class='about'>Hi, I'm Drew.</h5><h5 class='about'>I'm a full stack web developer with interests in hardware and lighting.</h5>
  <h5 class='about'><a href='https://www.dropbox.com/s/8ibtx99bimpqw86/Drew_Andre_Resume.pdf?dl=0'>Here's my resume</a>, and you can email me directly <a href="mailto:drewjamesandre@gmail.com">here.</a></h5>
</div>
