<!DOCTYPE html>
<div class='centered'>
  <div id='work'>Contact Me</div>
  <hr id='work-example'/>
  <h5 class='about' style='margin-top: 5%'>You can contact me at drewjamesandre@gmail.com, or find social media links in the side menu.</h5>
</div>
