<!DOCTYPE html>
<div class='centered'>
  <h2 class='title'>Contact Me</h2>
  <h5 class='about'>You can contact me at drewjamesandre@gmail.com, or find social media links in the side menu.</h5>
</div>
