<!DOCTYPE html>
<div class='centered'>
  <div id='work'>Contact Me</div>
  <hr id='work-example'/>
  <h5 class='about'>You can <a href="mailto:drewjamesandre@gmail.com">email me</a>, or find social media links in the dropdown menu.</h5>
</div>
