<!DOCTYPE html>
<div class='centered'>
  <div id='work'>Contact Me</div>
  <hr id='work-example'/>
  <div class='contact-description'>
    <p>
      If you're interested in working with me, submitting this form will send your note right to my personal email,
      <a href='mailto:drewjamesandre@gmail.com' target="_blank" id='contact-info'>drewjamesandre@gmail.com</a>
    </p>
      Let me know what sort of project you have in mind!
    </p>
    </p>
      I can also be reached at
      <div><a id='contact-info' href="tel://1-555-555-5555">(978) 495-2066</a></div>
    </p>
  </div>
  <form class='contact-form' action='/contact' method='post'>
    <input type='text' name='name' id='contact-input' placeholder='name' autoComplete='off' autoFocus='on' required />
    <input type='text' name='location' id='contact-input' placeholder='city' autoComplete='off' required />
    <input type='email' name='from_email' id='contact-input' placeholder='email' autoComplete='off' required />
    <textarea id='contact-input' name='comments' placeholder='comments' autoComplete='off' required ></textarea>
    <input type='submit' value="Send" id='contact-input' role='button' />
  </form>
</div>
