<!DOCTYPE html>
<div class='centered'>
  <h2 id='work'>Custom Work Form</h2>
  <hr id='work-example'/>
  <% flash.each do |type, message| %>
    <div class="flash flash-<%= type %>">
      <%= message %>
    </div>
  <% end %>
  <form class='contact-form' action='/custom-installs' method='post'>
    <input type='text' name='name' id='contact-input' placeholder='name' autoComplete='off' required />
    <input type='text' id='contact-input' placeholder='city' autoComplete='off' required />
    <input type='email' name='from_email' id='contact-input' placeholder='email' autoComplete='off' required />
    <textarea name='comments' id='contact-input' placeholder='comments' autoComplete='off' required ></textarea>
    <input type='submit' id='contact-input' role='button' />
  </form>
</div>
