<!DOCTYPE html>
<div class='centered'>
  <h2 id='work'>Custom Work Form</h2>
  <hr id='work-example'/>
  <div class='contact-form'>
    <input type='text' id='contact-input' placeholder='name' autoComplete='off' required />
    <input type='text' id='contact-input' placeholder='city' autoComplete='off' required />
    <input type='email' id='contact-input' placeholder='email' autoComplete='off' required />
    <textarea name='textarea' id='contact-input' placeholder='comments' autoComplete='off' required rows="50" cols="50"></textarea>
    <input type='submit' id='contact-input' />
  </div>
</div>
