<!DOCTYPE html>
<div class='home-centered'>
  <h1 class='name'>DREW ANDRÉ</h1>
  <h3 class='tag'>Web Developer | Lighting Designer</h3>
</div>
<!-- <canvas /> -->
<script src="/javascripts/perlin.js"></script>
<script src="/javascripts/p.js"></script>
