<!DOCTYPE html>
<div class='home-centered'>
  <h1 class='name'>DREW ANDRÉ</h1>
  <h3 class='tag'>Web Developer | Lighting Designer</h3>
</div>
<footer id='home-screen-footer'>
  <a href='https://www.linkedin.com/in/drewandre' target="_blank"><i class="fa fa-linkedin-square fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
  <a href='https://github.com/drewandre' target="_blank"><i class="fa fa-github-square fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
  <a href='https://angel.co/drewandre' target="_blank"><i class="fa fa-angellist fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
  <a href='https://www.instagram.com/_drewandre' target="_blank"><i class="fa fa-instagram fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
  <a href='mailto:drewjamesandre@gmail.com' target="_blank"><i class="fa fa-envelope-o fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
</footer>
<canvas />
<script src="/javascripts/perlin.js"></script>
<script src="/javascripts/p.js"></script>
