<body>
  <nav id='main-nav'>
    <div>
      <i class="fa fa-bars fa-2x" id='menu-icon' aria-hidden="true"></i>
      <img id='signature' src='/images/signature.png'></img>
    </div>
    <div class='social-media-icon-list'>
      <a href='https://www.linkedin.com/in/drewandre/' target="_blank"><i class="fa fa-linkedin-square fa-2x" id='social-media-icon' aria-hidden="true"></i></a>
      <a href='https://www.instagram.com/_drewandre/' target="_blank"><i class="fa fa-instagram fa-2x" id='social-media-icon' aria-hidden="true"></i></a>
      <a href='https://github.com/drewandre' target="_blank"><i class="fa fa-github-square fa-2x" id='social-media-icon' aria-hidden="true"></i></a>
    </div>
    <ul>
      <li><a href="#">about</a></li>
      <li><a href="#">store</a></li>
      <li><a href="#">contact</a></li>
      <li><a href="#">work</a>
        <ul>
          <li><a href="#">web</a>
            <ul>
              <li><a href="#">Palette</a></li>
              <li><a href="#">RepoRev</a></li>
            </ul>
          </li>
          <li><a href="#">lighting</a>
            <ul>
              <li><a href="#">Aura</a></li>
              <li><a href="#">Boston</a></li>
              <li><a href="#">Back Bay</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class='home-centered'>
    <h1 class='name'>DREW ANDRÉ</h1>
    <h3 class='about'>Web Developer | Lighting Designer</h3>
  </div>
  <canvas />
  <script src="/javascripts/perlin.js"></script>
  <script src="/javascripts/p.js"></script>
</body>
