<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <title>DREW ANDRÉ</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>


    <nav id='main-nav'>
      <div id='menu'>
        <i class="fa fa-bars fa-2x" id='menu-icon' aria-hidden="true"></i>
        <a href="/"><img id='signature' src='/images/signature.png'></img></a>
      </div>
      <ul>
        <li><a href="/custom-installs"><p class='custom-work'>custom work inquiries</p></a></li>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a id='no-hover'>work</a>
          <ul>
            <!-- <li><a id='no-hover'>web</a> -->
            <li><a href='/work/web'>web</a>
              <!-- <ul>
                <li><a href="/work/web/palette">Palette</a></li>
                <li><a href="/work/web/reporev">RepoRev</a></li>
              </ul> -->
            </li>
            <!-- <li><a id='no-hover'>lighting</a> -->
              <li><a href='/work/lighting'>lighting</a>
              <!-- <ul>
                <li><a href="/work/lighting/aura">Aura</a></li>
                <li><a href="/work/lighting/boston">Boston</a></li>
                <li><a href="/work/lighting/tremont-street">Tremont</a></li>
                <li><a href="/work/lighting/winchester">Winchester</a></li>
              </ul> -->
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class='main'>
      <% flash.each do |type, message| %>
        <div class="home-centered flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      <footer>
        <a href='https://www.linkedin.com/in/drewandre' target="_blank"><i class="fa fa-linkedin-square fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
        <a href='https://github.com/drewandre' target="_blank"><i class="fa fa-github-square fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
        <a href='https://angel.co/drewandre' target="_blank"><i class="fa fa-angellist fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
        <a href='https://www.instagram.com/_drewandre' target="_blank"><i class="fa fa-instagram fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
        <a href='mailto:drewjamesandre@gmail.com' target="_blank"><i class="fa fa-envelope-o fa-3x" id='social-media-icon' aria-hidden="true"></i></a>
      </footer>
    </div>
  </body>
  <script src="/javascripts/app.js"></script>
</html>
