<!DOCTYPE html>
<div class='centered'>
  <h2 class='title'>Store</h2>
  <h5 class='about'>
    My online store will be opening Winter 2018.
    Here you will be able to purchase various circuit boards that are featured
    on my <a href='/work/lighting'>lighting</a> section.
  </h5>
  <br /><br />
  <h5 class='about'>
    If you're interested in a custom lighting install, you can find the form over
    at <a href='/custom-installs'>custom installs</a>.
  </h5>
</div>
