<!DOCTYPE html>
<div class='centered'>
  <div id='work'>Thank you!</div>
  <hr id='work-example'/>
  <p class='description'>You should receive an automatic follow up email, and I'll reach out to you personally within 48 hours.</p>
  <p class='salutation'>My best,</p>
  <img src='/images/signature.png' id='thank-you-signature' />
  <p class='salutation'>Drew André</p>
</div>
